<%- include("header.ejs") %>


    <!-- Main Content -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="blog-post">
                    <h2 class="blog-post-title">Update Blog</h2>
                    <form method="post" action="/submitUpdate">
                        <input type="hidden" name="index" value="<%= myIndex %>">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" name="name" class="form-control" id="name" value="<%= myItems.name %>">
                        </div>
                        <div class="form-group">
                            <label for="blogTitle">Blog Title</label>
                            <input type="text" name="title" class="form-control" id="blogTitle" value="<%= myItems.title %>">
                        </div>
                        <div class="form-group">
                            <label for="blogDescription">Blog Description</label>
                            <textarea class="form-control" name="description" id=" blogDescription " rows="5 "><%= myItems.description %></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include("footer.ejs") %>